server:
  port: 8082

spring:

  # Define the local keycloak realm here
  realm: Dave

  session.timeout: 36000

  # spring cloud gateway config
  cloud:
    gateway:
      actuator:
        verbose:
          enabled: false
      globalcors:
        corsConfigurations:
          # The cors configuration to allow frontend developers cross origin request via this api gateway
          '[/**]':
            allowedOrigins:
              - "http://localhost:8081"
              - "http://127.0.0.1:8081"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      routes:
        - id: sso
          uri: ${SSO_BASE_URL}
          predicates:
            - Path=/api/sso/userinfo
          filters:
            - RewritePath=/api/sso/userinfo, /auth/realms/${spring.realm}/protocol/openid-connect/userinfo
        - id: backend
          uri: http://dave-backend:50001/
          predicates:
            - Path=/api/dave-backend-service/**
          filters:
            - name: Retry
              args:
                retries: 2
                methods: GET,POST
                backoff:
                  firstBackoff: 10ms
                  maxBackoff: 50ms
                  factor: 2
                  basedOnPreviousValue: false
            - RewritePath=/api/dave-backend-service/(?<urlsegments>.*), /$\{urlsegments}
            - RemoveResponseHeader=WWW-Authenticate
        - id: eai
          uri: http://localhost:8080/
          predicates:
            - Path=/api/dave-eai-service/**
          metadata:
            response-timeout: 1800000
          filters:
            - RewritePath=/api/dave-eai-service/(?<urlsegments>.*), /$\{urlsegments}
            - RemoveResponseHeader=WWW-Authenticate
      default-filters:
        - RemoveResponseHeader=Expires
        - RemoveRequestHeader=cookie
        - RemoveRequestHeader=x-xsrf-token
        - TokenRelay=

  # security config
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${SSO_BASE_URL}/auth/realms/${spring.realm}
        registration:
          keycloak:
            client-id: dave
            client-secret: ${SSO_CLIENT_SECRET}