name: dave
services:

  dave-frontend:
    container_name: dave-frontend
    image: itatm/dave-frontend:latest@sha256:81d41aeb28592ff08c1a77bb3c7c636aaf350f84f4cc97208a3fee705e924325
    environment:
      - SPRING_PROFILES_ACTIVE=docker,no-security
      - SSO_BASE_URL=http://sso.de
    ports:
      - "8082:8082"
    pull_policy: always

  dave-backend:
    container_name: dave-backend
    image: itatm/dave-backend:latest@sha256:9ce0972e99985e278caa14c35b457e7ff1104c658b7d16641b0a63f921382d5a
    environment:
      - SPRING_PROFILES_ACTIVE=docker,no-security,sample
      - elasticsearch.host=dave-elasticsearch
      - SSO_BASE_URL=http://sso.de
    ports:
      - "39146:39146"
    pull_policy: always
    depends_on:
      - elasticsearch
    restart: on-failure
  
  elasticsearch:
    container_name: dave-elasticsearch
    image: bitnami/elasticsearch:7.17.26
    environment:
      - discovery.type=single-node
      - path.data=%USERPROFILE%/dave/data/mydatafile
    volumes:
      - c:/path/to/mydata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      
  kibana:
    container_name: dave-kibana
    image: bitnami/kibana:7.17.26
    ports:
      - 5601:5601
      
